<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Lista de Pets</title>
    <script src="https://cdn.tailwindcss.com"></script>
</head>
<body>
    <div class="container mx-auto mt-5">
        <h1 class="text-2xl font-bold mb-4">Lista de Pets</h1>
        <div id="petsList" class="grid grid-cols-1 md:grid-cols-3 gap-4">
            <!-- Lista de pets será preenchida via JavaScript -->
        </div>
    </div>
    <script>
        document.addEventListener('DOMContentLoaded', async function() {
            const response = await fetch('http://127.0.0.1:5001/api/pets');
            if (response.ok) {
                const data = await response.json();
                const petsList = document.getElementById('petsList');
                petsList.innerHTML = '';
                data.pets.forEach(pet => {
                    const petCard = document.createElement('div');
                    petCard.classList.add('p-4', 'bg-green-200', 'rounded-lg');
                    petCard.innerHTML = `
                        <h2 class="text-lg font-bold">${pet.name}</h2>
                        <p>Espécie: ${pet.species}</p>
                        <p>Raça: ${pet.breed || 'Não especificada'}</p>
                        <button class="mt-2 bg-blue-500 text-white px-4 py-2 rounded"
                            onclick="window.location.href='/meu_pet?pet_id=${pet.id}&token=${localStorage.getItem("jwt")}'">
                            Ver Detalhes
                        </button>

                    `;
                    petsList.appendChild(petCard);
                });
            } else {
                alert('Erro ao carregar a lista de pets.');
            }
        });
    </script>
</body>
</html>
